$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// Modules
@import 'modules/variables';
@import 'modules/buttons';
@import 'modules/colors';
@import 'modules/fonts';
@import 'modules/inputs';
@import 'modules/mixins';

// Site
@import 'site/footer';
@import 'site/header';
@import 'site/site';

// Components
@import 'components/contact';
@import 'components/services';

body {
    font-family: 'Open Sans', sans-serif;
    background-color: $white;
}