/*
 *
 * Modules > Footer
 *
 */

/* MOBILE STYLES ------------------------------------------------------------ */

#footer.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border: solid 1px $delta;
    background-color: $charlie;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        img {
            width: 60px;
        }

        margin-right: 20px;
    }

    .copyright {
        // text-align: center;

        span {
            color: $white;
            font-size: 22px;
        }
    }
}

/* MEDIA QUERY ------------------------------------------------------------ */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}