/*
 *
 * Modules > Header
 *
 */

/* MOBILE STYLES ------------------------------------------------------------ */

$pink    : #ff006a;
$purple  : #7b00e0;
$orange  : #ff7900;
$aqua    : #66e6ff;
$yellow  : #ffc901;
$font    : 'Titan One', san-serif;

@mixin base-font($size) {
    font-size: $size;
    font-family: $font;
}

.menu-container {
    width: 165px;
    height: 90px;
    position: absolute;
    right: 0;
    top: 0;
    @include linear-gradient(to right, $alpha, $bravo);

    color: white;
    cursor: pointer;
    position: absolute;
    transition: all 0.3s;
  
    &.full-menu {
        border-radius: 0;
        padding: 0 !important;
        position: aboslute;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
        transition: all 0.3s;
    }
}

.full-menu .menu {
    top: 40px;
    right: 40px;
}

.menu {
    top: 20px;
    width: 85px;
    right: 40px;
    height: 50px;
    z-index: 100;
    display: block;
    position: absolute;
    border-radius: 30px;
    transition: all 0.3s;
    border: 2px solid white;
  
    i {
        opacity: 0.7; 
        transform: scale(1);
        transition: all 0.3s;

        &:hover {
            opacity: 1;
            transform: scale(1.2);
            transition: all 0.3s;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  
    &.open {
        opacity: .9;
        visibility: visible;
        height: 100%;

        li {
            animation: fadeInRight .5s ease forwards;
            animation-delay: .35s;

            &:nth-of-type(2) {
                animation-delay: .4s;
            }

            &:nth-of-type(3) {
                animation-delay: .45s;
            }

            &:nth-of-type(4) {
                animation-delay: .50s;
            }
        }
    }
  
    nav {
        @include base-font(3.2em);
        position: relative;
        height: 70%;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 400;
        text-align: center;
    }
  
    ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%; 

        li {
            display: block;
            height: 25%;
            height: calc(100% / 4);
            min-height: 50px;
            position: relative;
            opacity: 0;

            a {
                display: block;
                position: relative;
                color: #fff;
                text-decoration: none;
                overflow: hidden;
                opacity: 0.7;
                transform: scale(1);
                transition: all 0.3s;

                &:hover,
                &:focus,
                &:active {
                    opacity: 1;
                    transform: scale(1.2);
                    transition: all 0.3s;
                }
            }
        }
    }
}

@keyframes fadeInRight {
  
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

h1 {
    @include base-font(5em);
    background-color: rgba($pink, 0.4);
    border-radius: 100%;
    box-shadow: 0 0 2em 1em rgba($pink, 0.4);
    color: white;
    margin: 30vh auto;
    position: relative;
    text-align: center;
    text-shadow: 0 8px 0 rgba($purple, 0.4);
    transform: rotate(-12deg);
    width: 800px;
    height: auto;
    z-index: -1;

    span {
        color: $yellow;
    }
}

.blob {
    animation: blobby 4s infinite;
}

.blob2 {
    animation: blobby2 6s infinite;
}

@keyframes blobby {
    0% { transform: scale(1); }
    50% { transform: scale(1.08); }
    100% { transform: scale(1); }
}

@keyframes blobby2 {
    0% { transform: scale(1); }
    50% { transform: scale(1.18); }
    100% { transform: scale(1); }
}

svg {
    position: absolute;
    top: 0;
}

#svg-right {
    display: block;
    fill: $purple;
    opacity: 0.5;  
    right: 0;
    width: 60%;
    z-index: -10;
}

#svg-left {
    fill: $pink;
    margin: 0;
    width: 60%;
    z-index: -10;
}

@media all and (max-width: 980px) {
    h1 {
            @include base-font(3em);
    }
}

@media all and (max-width: 480px) {
    h1 {
            @include base-font(2em);
    }
}










.header {
    height: auto;
    background: linear-gradient(to right, $white 0%, $white 50%, $charlie 50%, $charlie 100%);

    &-nav {
        height: 90px;
        background-color: $white;

        &-logo {
            width: 165px;
            height: 90px;
            display: inline-block;
            background: url(/app/images/efex-icon.svg) $bravo no-repeat center center;
        }
    }

    .grid {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    &-title {
        display: block;
        margin: 18px 0;
        font-size: 30px;
        color: $foxtrot;
        font-weight: normal;
        text-decoration: none;
        font-family: 'Poppins Light';
        
        &:hover, &:link {
            text-decoration: none;
        }
    }
    &-description {
        color: $foxtrot;
        font-size: 58px;
        margin-top: 40px;
        font-weight: normal;
        font-family: 'Poppins Bold';
    }
}

/* MEDIA QUERY ------------------------------------------------------------ */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}