.grid {
    padding: 0 100px;
}

.none{
    display: none;
}

.section-title {
    width: 100%;

    .white-border, .black-border {
        height: 3px;
        width: 200px;
    }
    .white-border {
        background-color: $white;
    }
    .black-border {
        background-color: $black;
    }

    .title {
        color: $white;
        display: block;
        font-size: 30px;
        font-weight: normal;
        margin: 18px 0 18px 110px;
        font-family: 'Poppins Light';
    }
    .small-gradient-border {
        height: 3px;
        width: 100px;
        @include linear-gradient(to right, $alpha, $bravo);
    }
    .gradient-border {
        height: 3px;
        width: 200px;
        @include linear-gradient(to right, $alpha, $bravo);
    }
}