.about{
	margin-bottom: 100px;

	.head-about{
		margin-top: 100px;
		margin-bottom: 100px;
	}

	.title{
		color: $foxtrot;
	}

	.phrase{
		border-left: 0px;
		margin-top: 150px;
		border: 4px solid $white;
		border-top-right-radius: 500px;
		border-left: 0;
		border-bottom-right-radius: 500px;
		background-position: 98% 50%;
		background-repeat: no-repeat;
		background-image: url(/app/images/search.svg);

		.title{
			color: $white;
			font-size: 32px;
			margin: 30px 100px;
			font-weight: normal;
            font-family: 'Poppins Bold';
		}
	}

	.bg-gradient-about{
		width: 60%;
		height: 400px;
		position: absolute;
		background-repeat: repeat-x;
		background-position: 50% 50%;
		background-image: url(/app/images/bg-about.svg), linear-gradient(to right, $alpha, $bravo);
	}

	.flag-efex{
		position: relative;
		z-index: 1;

		.flg{
			width: 500px;
			margin-top: -300px;
		}
	}

	.circle-text{
		position: absolute;
		z-index: 3;
		right: 150px;
		top: 100px;

		.char{
			font: 26px Monaco, MonoSpace;
			height: 70px;
			position: absolute;
			width: 20px;
			left: 0;
			top: 0;
			transform-origin: bottom center;	
		}

		.char1 { transform: rotate(16deg); }
		.char2 { transform: rotate(32deg); }
		.char3 { transform: rotate(48deg); }
		.char4 { transform: rotate(64deg); }
		.char5 { transform: rotate(80deg); }
		.char6 { transform: rotate(96deg); }
		.char7 { transform: rotate(112deg); }
		.char8 { transform: rotate(128deg); }
		.char9 { transform: rotate(144deg); }
		.char10 { transform: rotate(160deg); }
		.char11 { transform: rotate(176deg); }
		.char12 { transform: rotate(192deg); }
		.char13 { transform: rotate(208deg); }
		.char14 { transform: rotate(224deg); }
		.char15 { transform: rotate(240deg); }
		.char16 { transform: rotate(256deg); }
		.char17 { transform: rotate(272deg); }
		.char18 { transform: rotate(288deg); }
		.char19 { transform: rotate(304deg); }
		.char20 { transform: rotate(320deg); }
		.char21 { transform: rotate(336deg); }
		.char22 { transform: rotate(352deg); }
		.char23 { transform: rotate(368deg); }
	}

	.box-content-efex{
		box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.16);
		padding: 10px 50px 40px;
		margin-top: -100px;
		position: relative;
		z-index: 2;
		background: $white;

		.title{
			font-size: 45px;
			color: #707070;
			margin-bottom: 30px;
		}

		.text{
			color: #707070;
			font-size: 16px;
		}
	}
}