/*
 *
 * Modules > Contact
 *
 */

/* MOBILE STYLES ------------------------------------------------------------ */

.contact {
    height: 500px;
    padding-top: 140px;
    padding-bottom: 100px;
    background-color: $bravo;

    &-title {
        color: $white;
        font-size: 55px;
        font-weight: normal;
        font-family: 'Poppins Bold';
    }
    &-description {
        color: $white;
        font-size: 30px;
        font-weight: normal;
        font-family: 'Poppins Regular';
    }
    &-list {
        padding: 0;
        margin: 40px 0 0 0;

        &-item {
            color: $white;
            font-size: 23px;
            list-style: none;
            padding-left: 48px;
            position: relative;
            font-weight: normal;
            font-family: 'Poppins Regular';

            &:first-child {
                margin-bottom: 20px;
            }

            &:after {
                left: 0;
                top: 50%;
                content: '';
                width: 34px;
                height: 16px;
                position: absolute;
                background-color: $alpha;
                transform: translateY(-50%);
            }
        }
    }


    &-box {
        background-color: $white;
    }
}

/* MEDIA QUERY ------------------------------------------------------------ */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}