/*
 *
 * Modules > Portfolio
 *
 */

/* MOBILE STYLES ------------------------------------------------------------ */

.portfolio {
    overflow-x: hidden;
    padding-top: 140px;
    background: linear-gradient(to right, $white 0%, $white 60%, $charlie 60%, $charlie 100%);

    .title {
        color: $foxtrot;
    }

    &-title {
        color: $delta;
        font-size: 45px;
        font-family: 'Poppins Bold';
    }
    &-description {
        color: $delta;
        font-size: 16px;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &-preview {
        width: 708px;
        height: 550px;
        position: relative;
        background: url(/app/images/notebook.svg) no-repeat;
        background-size: contain;

        &-image {
            top: 28px;
            left: 125px;
            width: 440px;
            height: 275px;
            position: absolute;
            @include linear-gradient(to right, $alpha, $bravo);
        }
    }
}

/* MEDIA QUERY ------------------------------------------------------------ */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}