.services {
    background: $white;

    &-title {
        z-index: 2;
        display: block;
        position: relative;
        margin: 100px 0 100px 100px;
        
        font-size: 45px;
        font-weight: normal;
        font-family: 'Poppins Bold';

        &-bg {
            top: 0;
            z-index: 1;
            display: block;
            position: absolute;

            color: #C9C9C9;
            font-size: 180px;
            font-weight: normal;
            font-family: 'Poppins Bold';
        }
    }
    &-description {
        font-size: 18px;
        font-weight: normal;
        font-family: 'Poppins Regular';
    }
    &-link {
        color: $bravo;
        font-size: 18px;
        font-weight: normal;
        font-family: 'Poppins Bold';
    }
}   