.services {
    background: $white;

    &-title {
        z-index: 2;
        display: block;
        font-size: 40px;
        position: relative;
        font-weight: normal;
        font-family: 'Poppins Bold';
        margin: 100px 0 100px 100px;

        &-bg {
            top: 0;
            z-index: 1;
            color: $hotel;
            display: block;
            font-size: 180px;
            position: absolute;
            font-weight: normal;
            font-family: 'Poppins Bold';
        }
    }
    &-description {
        font-size: 18px;
        font-weight: normal;
        font-family: 'Poppins Regular';
    }
    &-link {
        text-decoration: none;

        &:hover, &:link {
            text-decoration: none;
        }
        &-span {
            color: $bravo;
            font-size: 18px;
            margin-right: 20px;
            font-weight: normal;
            font-family: 'Poppins Bold';
        }
    }
}   