/*
 *
 * Modules > Buttons
 *
 */

/* MOBILE STYLES ------------------------------------------------------------ */

.btn-default {
    border: 0;
    width: 100%;
    color: $white;
    padding: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    font-weight: normal;
    background-color: $charlie;
    font-family: 'Poppins Regular';

    &:hover {
        color: $white;
        background-color: $alpha;
    }
}

@keyframes opacidade {
    0% {
        opacity: 0.2;    
    }
    50% {
        opacity: 1; 
    }
    100% {
        opacity: 0.2; 
    }
}

.arrow {
    width: 50px;
    height: 15px;
    display: block;
    position: relative;
    animation: opacidade 3s infinite;
    animation-delay: 1s;
    background: url(/app/images/arrow.svg) no-repeat center;

    &:before {
        left: 0;
        content: '';
        width: 10px;
        height: 15px;
        display: block;
        position: absolute;
        animation: opacidade 3s infinite;
        background: url(/app/images/arrow.svg) no-repeat;
    }

    &:after {
        right: 0;
        content: '';
        width: 10px;
        height: 15px;
        display: block;
        position: absolute;
        animation: opacidade 3s infinite;
        animation-delay: 2s;
        background: url(/app/images/arrow.svg) no-repeat;
    }
}

/* MEDIA QUERY ------------------------------------------------------------ */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}