/*
 *
 * Modules > Buttons
 *
 */

/* MOBILE STYLES ------------------------------------------------------------ */

.btn-default {
    border: 0;
    width: 100%;
    color: $white;
    padding: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    font-weight: normal;
    background-color: $charlie;
    font-family: 'Poppins Regular';

    &:hover {
        color: $white;
        background-color: $alpha;
    }
}

@keyframes opacidade {
    0% {
        opacity: 0.2;    
    }
    25% {
        opacity: 0.3;
    }
    50% {
        opacity: 1; 
    }
    75% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.2; 
    }
}

.arrow  {
    width: 50px;
    height: 20px;
    position: relative;
    display: inline-block;

    span {
        width: 10px;
        height: 15px;
        margin-right: 10px;
        display: inline-block;
        background: url(/app/images/arrow.svg) no-repeat;

        &:first-child {
            animation: opacidade 2s infinite;
            animation-delay: 0.666s;
        }

        &:nth-child(2) {
            animation: opacidade 2s infinite;
            animation-delay: 1.332s;
        }

        &:last-child {
            margin-right: 0;
            animation: opacidade 2s infinite;
            animation-delay: 2s;
        }
    }
}

/* MEDIA QUERY ------------------------------------------------------------ */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}