/*
 *
 * Modules > Variables
 *
 */

/* COLORS ------------------------------------------------------------ */
$black: #000;
$white: #fff;
$alpha: #232323;
$bravo: #232323;
$charlie: #232323;
$delta: #232323;
$echo: #232323;
$foxtrot: #232323;
$golf: #232323;
$hotel: #232323;
$india: #232323;
$juliett: #232323;