/*
 *
 * Modules > Variables
 *
 */

/* COLORS ------------------------------------------------------------ */
$black: #000;
$white: #fff;
$alpha: #FF4D40;
$bravo: #0012B5;
$charlie: #4A4A4A;
$delta: #707070;

$echo: #232323;
$foxtrot: #232323;
$golf: #232323;
$hotel: #232323;
$india: #232323;
$juliett: #232323;
$kilo: #B4B4B4;