section#about.about
	.row
		header.grid section-title head-about
			div.gradient-border
			h2.title sobre nós
	.row
		div.bg-gradient-about
		div
			.col-md-6
				div.phrase
					h3.title CRIAMOS NOVAS  EXPERIÊNCIAS PARA A SUA  MARCA.
					span.icon-search
		
			.col-md-6
				div.flag-efex
					img.flg(src="./images/try.png" alt="efex flag")

				div.circle-text

					span.char.char1 e
					span.char.char2 f
					span.char.char3 e
					span.char.char4 x
					span.char.char5 
					span.char.char6 d
					span.char.char7 i
					span.char.char8 g
					span.char.char9 i
					span.char.char10 t
					span.char.char11 a
					span.char.char12 l
					span.char.char13 
					span.char.char14 s
					span.char.char15 o
					span.char.char16 l
					span.char.char17 u
					span.char.char18 t
					span.char.char19 i
					span.char.char20 o
					span.char.char21 n
					span.char.char22 s

				.box-content-efex.col-md-10
					h2.title
						b efex

					p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident dolorem, id sint praesentium sed repellat nostrum. Consequatur repudiandae non nisi ipsam commodi aut, quod eos accusantium impedit, deserunt, harum nostrum!

					p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident dolorem, id sint praesentium sed repellat nostrum. Consequatur repudiandae non nisi ipsam commodi aut, quod eos accusantium impedit, deserunt, harum nostrum!	