section(id='about' class="about col-md-12")
	div(class='row')
		header(class="grid section-title head-about") 
			div(class="gradient-border")
			h2(class="title") sobre nós
	div(class='row')
		div(class="bg-gradient-about")
		div(class="")
			div(class='col-md-6') 
				div(class="phrase")
					h3(class="title") CRIAMOS NOVAS  EXPERIÊNCIAS PARA A SUA  MARCA.
					span(class="icon-search")
		
			div(class='col-md-6') 
				div(class="flag-efex")
					img(class="flg" src="./images/try.png" alt="efex flag")

				div(class="circle-text")

					span(class="char char1") e
					span(class="char char2") f
					span(class="char char3") e
					span(class="char char4") x
					span(class="char char5") 
					span(class="char char6") d
					span(class="char char7") i
					span(class="char char8") g
					span(class="char char9") i
					span(class="char char10") t
					span(class="char char11") a
					span(class="char char12") l
					span(class="char char13") 
					span(class="char char14") s
					span(class="char char15") o
					span(class="char char16") l
					span(class="char char17") u
					span(class="char char18") t
					span(class="char char19") i
					span(class="char char20") o
					span(class="char char21") n
					span(class="char char22") s

				div(class="box-content-efex col-md-10")
					h2(class="title") 
						b efex

					p(class="text")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident dolorem, id sint praesentium sed repellat nostrum. Consequatur repudiandae non nisi ipsam commodi aut, quod eos accusantium impedit, deserunt, harum nostrum!

					p(class="text")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident dolorem, id sint praesentium sed repellat nostrum. Consequatur repudiandae non nisi ipsam commodi aut, quod eos accusantium impedit, deserunt, harum nostrum!	