section(id='about' class="about")
	div(class='row')
		header(class="grid section-title head-about") 
			div(class="gradient-border")
			h2(class="title") sobre nós
	div(class='row')
		div(class="bg-gradient-about")
		div(class="")
			div(class='col-md-6') 
				div(class="phrase")
					h3(class="title") CRIAMOS NOVAS  EXPERIÊNCIAS PARA A SUA  MARCA.
					span(class="icon-search")
		
			div(class='col-md-6') 
				div(class="flag-efex")
					img(class="flg" src="./images/try.png" alt="efex flag")

				div(class="circle-text")
				div(class="box-content-efex")
					h2(class="title") 
						b efex

					p(class="text")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident dolorem, id sint praesentium sed repellat nostrum. Consequatur repudiandae non nisi ipsam commodi aut, quod eos accusantium impedit, deserunt, harum nostrum!

					p(class="text")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident dolorem, id sint praesentium sed repellat nostrum. Consequatur repudiandae non nisi ipsam commodi aut, quod eos accusantium impedit, deserunt, harum nostrum!	