section#contact.grid.contact
  section.section-title
    header.container-fluid
      .row
        .col-md-10
          .white-border
          span.title contato
  .container-fluid
    .row
      .col-md-4
        p.contact-title Entre em contato
        span.contact-description Estamos disponíveis para solucionar o seu problema.
        ul.contact-list
          li.contact-list-item (81) 0000 0000
          li.contact-list-item efex@email.com.br
      .col-md-8
        .contact-box
          .row
            .col-md-6
              .contact-box-form
                p.contact-box-form-title Preencha com os seus dados e entraremos<br>em contato o mais breve possível.
                form
                  div
                    input(type='text' required='')
                    label(alt='nome' placeholder='nome')
                  div
                    input(type='text' required='')
                    label(alt='email' placeholder='email')
                  div
                    input(type='text' required='')
                    label(alt='telefone' placeholder='telefone')
                  div
                    input(type='text' required='')
                    label(alt='serviço interessado' placeholder='serviço interessado')
                  div
                    button.btn-default enviar
            .row
              .col-md-6
                .contact-box-bg