footer#footer.grid.footer
  section.section-title
    header.container-fluid
      .row
        .col-md-4
          .logo
            img(src='./images/efex-icon.svg' alt='efex')
        .col-md-8
          .copyright
            span efex, 2019. Todos os direitos reservados.