section#portfolio.grid.portfolio
  section.section-title.black
    header.container-fluid
      .row
        .col-md-10
          .gradient-border
          span.title portfolio
  .container-fluid
    .row
      .col-md-4
        p.portfolio-title Mais Milhas
        p.portfolio-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p.portfolio-description Ut enim ad minim veniam, quis nostrud exercitation Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.
        a.readmore(href='javascript:;')
          span.readmore-text saiba mais
          .arrow
            span
            span
            span
      .col-md-8
        .portfolio-preview
          .portfolio-preview-image