section(id="services", class="grid services")
  section(class="section-title")
    header(class="container-fluid")
      div(class="row")
        div(class="col-md-10")
          div(class="gradient-border")
          span(class="title") nossos serviços
  div(class="container-fluid")
    div(class="row")
      div(class="col-md-4")
        span(class="services-title") UX/UI design
        span(class="services-title-bg") 01
        p(class="services-description") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        a(class="services-link", href="javascript:;") saiba mais
          span(class="arrow")
      div(class="col-md-4")
        span(class="services-title") Front-End
        span(class="services-title-bg") 02
        p(class="services-description") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      div(class="col-md-4")
        span(class="services-title") Branding
        span(class="services-title-bg") 03
        p(class="services-description") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation