section#services.grid.services
  section.section-title
    header.container-fluid
      .row
        .col-md-10
          .gradient-border
          span.title nossos serviços
  .container-fluid
    .row
      .col-md-4
        span.services-title UX/UI design
        span.services-title-bg 01
        p.services-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        a.services-link(href='javascript:;') saiba mais
          .arrow
            span
            span
            span
      .col-md-4
        span.services-title Front-End
        span.services-title-bg 02
        p.services-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      .col-md-4
        span.services-title Branding
        span.services-title-bg 03
        p.services-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation